extends layout

block content
  .w3-container
    h1 Lista de Prémios
    table.w3-table-all
        tr
            th Ano
            td=premio.year
        tr    
            th Categoria
            td=premio.category
        tr    
            th Motivação
            td=premio.overallMotivation
        tr
            th Laureados
                .w3-container
                    table.w3-table-all
                        tr 
                            th Id
                            th Firstname
                            th Surname
                            th Motivação
                            th Share
                        each l in lista.laureates
                            tr
                                td=l.id
                                td=l.firstname
                                td=l.surname
                                td=l.motivation
                                td=l.share        
    adress
        a(href="http://localhost:3012/") HomePage